.gap{
    margin-top:5px;
    margin-bottom:5px;
}

.inline-control {
    display: inline;
    width: 60px;
}

.entity {
    padding-bottom: 2px;
    display: inline-block;
    margin: 3px;
    padding-top: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

    .entity.entity-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

entity.entity-primaty {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.entity.entity-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.cc-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.cc-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .cc-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .cc-dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.btn.nohover:hover {
    /* here copy default .btn class styles */
    cursor: default !important;
    /* or something like that */
}

.origin {
    position: relative;
}

.transparent {
    background: inherit;
    border: 0;
}

.centered {
    position: absolute;
    left: 50%;
}


.label-alone {
    margin: 5px;
}

.main-board {
    background-color: #d9edf7;
}

.table-list:hover {
    background-color: #f5f5f5;
}

tr.table-list.active {
    background-color: #d9edf7;
}

.sub-board {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

﻿.btn {
    margin-left: 5px;
    border: 2px solid cornflowerblue;
    border-radius: 3px;
    padding: 3px;
    background: cornflowerblue;
    font-weight: bold;
    color: #eee;
}


ul.reaction-list {
    padding-left: 20px;
}

    ul.reaction-list li {
        border: 2px solid #c8e4f8;
        padding: 5px;
        border-radius: 5px;
        display: block;
        margin: 2px;
        font-size: 14px;
    }


/*Now the CSS*/
* {
    margin: 0;
    padding: 0;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    text-align: center;
    display: inline-table;
    white-space: nowrap;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

    .tree li h4 {
        font-size: 12px;
        font-weight: 500;
    }

    /*We will use ::before and ::after to draw the connectors*/

    .tree li::before, .tree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    .tree li::after {
        right: auto;
        left: 50%;
        border-left: 1px solid #ccc;
    }

    /*We need to remove left-right connectors from elements without 
any siblings*/
    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }

    /*Remove space from the top of single children*/
    .tree li:only-child {
        padding-top: 0;
    }

    /*Remove left connector from first child and 
right connector from last child*/
    .tree li:first-child::before, .tree li:last-child::after {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }

    .tree li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

    .tree li a.error {
        border: 1px solid #ff4500;
    }

ul.error-list::before {
    display: none;
}

ul.error-list {
    padding: 0;
    margin: 0;
}

    ul.error-list li {
        color: #ff4500;
        margin: 3px;
        padding: 0;
    }

        ul.error-list li::after {
            display: none;
        }

        ul.error-list li::before {
            display: none;
        }


span.error-tag {
    border-bottom: 1px solid #ff4500;
}


span.error {
    color: #ff4500;
}

span.complex {
    color: #1e90ff;
}

span.atomic-agent {
    color: #008b8b;
}

span.structural-agent {
    color: #1e90ff;
}

span.state {
    color: #008000;
    font-weight: 500;
}

span.location {
    font-weight: 600;
    color: #0000ff;
}


/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
    /*Connector styles on hover*/
    .tree li a:hover + ul li::after,
    .tree li a:hover + ul li::before,
    .tree li a:hover + ul::before,
    .tree li a:hover + ul ul::before {
        border-color: #94a0b4;
    }

/*Thats all. I hope you enjoyed it.
Thanks :)*/
